name: Hello World Action

# When to run this workflow
on:
  push:
    branches:
      - main

jobs:
  say_hello:
    runs-on: ubuntu-latest  
    steps:
      - name: Print Hello World
        run: echo "Hello World from Github Actions!"

